.header-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header-direita {
  display: flex;
}

.produtos-container {
  display: flex;
}

.bt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 4px;
  background: #3a4f69;
}

svg {
  margin: 4px 15px;
  height: 28px;
  fill: white;
}

.search-input {
  color: white;
  margin: 5px;
  padding-left: 8px;
  height: 35px;
  width: 30vw;
  font-size: 14px;
  border-radius: 4px;
  background: #3a4f69;
}

.bt-search {
  height: 25px;
}